NEXT_PUBLIC_SUPABASE_URL=https://ylggvfvcgmpwokbfgayo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NOTION_API_KEY=your_notion_integration_secret
NOTION_DB_ID=30e015e252d38081a24de090550df8b2
